{% extends 'Layout.html' %}

{% block title %} 
    Nosotros
{% endblock %}

{% block body %}

<div class="container py-5">
<h5>
    <ul> 
        Acerca de nosotros:
    </ul>
    <hr>
<div class="container py-5">
    <div class="row">
        <div class="col-sm-8"> 
        YACUANA CONSULTORES SAS, es una compañía que presta 
        servicios de consultoría en el área social. 
        Nos caracterizamos por enfocar nuestra estrategia basada en decisiones 
        que crean valor al negocio de nuestros clientes y al de sus grupos de interés.
        </div>
        <div class="col-sm-4">  </div>
    </div>
</div>
</h5>
</div>
{% endblock %}