{% extends 'Layout.html' %}

{% block title %} 
    Servicios
{% endblock %}

{% block body %}
<div class="container py-5">
<H5>
    <ul> 
        Nuestros Servicios:
    </ul>
    <hr>
    <div class="py-2">
    <p>
    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        La Gestión social para proyectos:
    </button>
    </p>
    <div class="collapse" id="collapseExample">
    <div class="card card-body">
    <ul> Formulación, diseño y ejecución de proyectos de inversión social. </ul>
    <ul> Procesos de socialización con comunidades. </ul>
    <ul> Levantamiento de mapa de actores. </ul>
    <ul> Atención de PQRSF y generación de alertas de riesgo e impacto social </ul>
    <ul> Atención de crisis sociales y comunitarias. </ul>
    </div>
    </div>
    <br>
    <p>
    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
        Programas en Beneficio de las Comunidades (PBC):
    </button>
    </p>
    <div class="collapse" id="collapseExample1">
    <div class="card card-body">
    <ul> Elaboración de actas de vecindad. </ul>
    <ul> Acompañamiento en procesos de consulta previa. </ul>
    <ul> Diseño de fichas comunitarias. </ul>
    <ul> Asuntos de Relacionamiento Publico y de Gobierno en territorios. </ul>
    <ul> Análisis de entornos sociopolíticos. </ul>
    <ul> Estrategias de comunicación entre empresas y comunidades. </ul>
    </div>
    </div>
    <br>
    <p>
    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">
        Construcción de informes de Sostenibilidad y Responsabilidad Social
    </button>
    </p>
    <div class="collapse" id="collapseExample2">
    <div class="card card-body">
    <ul> Diseño, ejecución, seguimiento y evaluación a programas de Responsabilidad Social. </ul>
    <ul> Gestión de Responsabilidad Social en la cadena de valor y suministro. </ul>
    <ul> Manejo de entorno. </ul>
    </div>
    </div>
    <br>
    <p>
    <button class="btn btn-success" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample3" aria-expanded="false" aria-controls="collapseExample">
        Actividades De Consultoría De Gestión:
    </button>
    </p>
    <div class="collapse" id="collapseExample3">
    <div class="card card-body">
    <ul> Actividades de apoyo a la educación. </ul>
    <ul> Investigaciones y desarrollo experimental en el campo de las ciencias sociales y las humanidades. </ul>
    <ul> Estudios de mercado y realización de encuestas de opinión pública como consultoría profesional </ul>
    </div>
    </div>
</H5>
</div>
{% endblock %}