{% extends 'Layout.html' %}

{% block title %} 
    Valores corporativos
{% endblock %}

{% block body %}

<div class="container py-5">
    <H5>
        <ul> 
        Los valores de Yacuana Consultores SAS se resumen en los siguientes puntos:
        </ul>
        <hr>
        <div class="py-2">
        <ul>
        >	Nuestros Valores Corporativos:
        </ul>
        <br>
        <ul>
        Nos comprometemos a asumir con responsabilidad cada actividad que llevamos a cabo.
        </ul>
        <br>
        <ul>
        Nos atrevemos a mejorar constantemente en todo lo que hacemos y nos aseguramos de que se haga de manera efectiva.
        </ul>
        <br>
        <ul>
        Valoramos la humildad y la sencillez en todo lo que hacemos.
        </ul>
        <br>
        <ul>
        Nos comprometemos a asumir con responsabilidad cada actividad que llevamos a cabo.
        </ul>
        <br>
        <ul>
        >	Nuestras competencias organizacionales:
        </ul>
        <br>
        <ul>
        Orientación al cliente: Habilidad para comprender las necesidades y prioridades de los clientes, tanto internos como externos a la organización, y tener la motivación para satisfacer sus expectativas.
        </ul>
        <br>
        <ul>
        Orientación a resultados: Compromiso por trabajar de manera efectiva, asumir desafíos y enfocarse en la consecución de objetivos en el tiempo y con los recursos establecidos.
        </ul>
        <br>
        <ul>
        Trabajo en equipo: Disposición sincera y habilidad para trabajar y colaborar con otros, participando en un equipo que persigue metas comunes que individualmente no podrían alcanzarse al mismo nivel de excelencia.
        </ul>
        <br>

    </div>
    </H5>
    </div>

{% endblock %}