{% extends 'Layout.html' %}

{% block title %} 
    Vision
{% endblock %}

{% block body %}

<div class="container py-5">
<H5>
    <ul> 
    Nuestra Vision como empresa:
    </ul>
    <hr>
    <br>
<div class="row">
<div class="col">
     <div class="card" style="width: 500px;">
    <div class="card-body " >
    <h5 class="card-title"> > Nuestra Vision </h5>
    <p class="card-text"> 
    <ul> Yacuana Consultores SAS, aspira a convertirse en una compañía líder en servicios de responsabilidad social empresarial para el año 2025. </ul>
    <ul> Nos enfocamos en generar valor social para nuestros clientes al utilizar nuestra amplia experiencia y conocimientos en diversas industrias para desarrollar soluciones que satisfagan sus necesidades y expectativas de valor. </ul>
    </p>
    </div>
    </div>
</div>
<div class="col">
    <div class="card" style="width: 500px;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body " >
    <h5 class="card-title"> > Nuestra Vision </h5>
    <p class="card-text"> 
    </p>
    </div>
    </div>
</div>
</div>
</div>
<br>
</H5>

{% endblock %}